.parent{
    -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #2196f3;
}
.menu-panel{
    -fx-background-color: #151928;
    -fx-alignment: center;
    -fx-padding: 10.0, 10.0, 10.0, 40.0;
}
.menu-panel-item{
    -fx-alignment: center;
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color: #151928;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: whitesmoke;
}
.tf{
    -fx-background-color: transparent;
}
.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: whitesmoke;
}
.text-white{
    -fx-text-fill: whitesmoke;
}
.icon-blue{
    -fx-fill: #2196f3;
}