@import 'MFXColors.css';

.parent{
    -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #2196f3;
}
.menu-panel{
    -fx-background-color: #151928;
    -fx-alignment: top-center;
    -fx-background-insets: -1 -5 -1 -1;
    -fx-background-radius: 0 20 20 0;
}
.menu-panel .avatar-menu-item{
    -fx-alignment: center;
}
.menu-panel .menu-panel-item{
    -fx-alignment: center;
}
.menu-panel .menu-panel-item:hover{
    -fx-background-color: cyan;
    -fx-background-radius: 10;
}
.menu-panel .menu-panel-item:hover .menu-item-text{
    -fx-text-fill: black;
    -fx-font-family: "Ubuntu Mono";
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.username-label{
    -fx-wrap-text: true;
}
.btn-text{
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
.menu-panel .menu-panel-item:hover .icon-blue{
    -fx-fill: #03329c;
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: whitesmoke;
}
.blue-panel{
    -fx-background-color: #151928;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: whitesmoke;
}
.tf{
    -fx-background-color: transparent;
}
.tf-input{
    -fx-background-color: whitesmoke;
    -fx-font-weight: bold;
    -fx-text-fill: #151928;
    -fx-border-style: solid;
}
.label{
   -fx-text-fill: #151928;
}
.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: whitesmoke;
}
.btn-rounded{
    -fx-background-radius: 20px;
}
.menu-item-text{
    -fx-text-fill: whitesmoke;
}
.blue-pane{
    -fx-background-color: #42909a;
}
.user-cell{
    -fx-background-color: #1f88d3;
    -fx-background-radius: 10px;
}
.user-icon{
    -fx-fill: #6ecb57;
}
.user-label{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.icon-blue{
    -fx-fill: #2196f3;
}
.online-status{
    -fx-fill: #32ee04;
}
.offline-status{
    -fx-fill: #746d6d;
}
.busy-status{
    -fx-fill: #ff0000;
}
.away-status{
    -fx-fill: #ff9f00;
}
.notification {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 5;
    -fx-border-color: #ebebeb;
    -fx-border-radius: 5;
}

.notification .label {
    -fx-font-family: 'Visby Round CF Bold';
    -fx-text-fill: -mfx-text-he;
    -fx-font-size: 17;
    -fx-font-weight: bold;
}

.notification .content {
    -fx-padding: 10;
    -fx-font-family: 'Visby Round CF Medium';
    -fx-font-size: 14;
}

.notification .mfx-button {
    -fx-min-height: 27;
    -fx-border-color: -mfx-purple;
    -fx-border-radius: 3;
    -fx-text-fill: -mfx-purple;
}

.notification .mfx-button .mfx-ripple-generator {
    -mfx-auto-clip: true;
    -mfx-ripple-color: derive(#7a0ed9, 125%);
}